In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Extract the kaggle_income.csv file, converted the zip code to a string to keep leading zeros

income_file = open(r"C:\Users\mseid\UCBWork\ETL-Project\Resources\kaggle_income.csv")
income_df = pd.read_csv(income_file, converters={'Zip_Code': lambda x: str(x)})
income_df

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32521,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,00970,787,589417,1691,18.397925,-66.130633,30649,13729,37977,1321.278082
32522,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,00602,787,1801613,795887,18.385424,-67.203310,15520,9923,15541,238.813450
32523,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,00602,787,11031227,0,18.356565,-67.180686,41933,34054,31539,313.551070
32524,7202986,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,00602,787,0,33597561,18.412041,-67.213413,0,0,0,0.000000
32525,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,00603,787,6476604,2717115,18.478094,-67.160453,28049,20229,33333,512.884803

In [3]:
#Transform the income table by dropping and renaming columns

new_income_df = income_df[["State_ab", "County", "City", "Zip_Code", "Area_Code", "Mean", "Median", "Stdev"]]
new_income_df = new_income_df.rename(columns={"State_ab": "State", "Stdev": "Standard_Deviation_Income", "Mean": "Mean_Income", "Median": "Median_Income"})

new_income_df.drop_duplicates("Zip_Code", inplace=True)

new_income_df

,State,County,City,Zip_Code,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income
0,AL,Mobile County,Chickasaw,36611,251,38773,30506,33101
1,AL,Barbour County,Louisville,36048,334,37725,19528,43789
2,AL,Shelby County,Columbiana,35051,205,54606,31930,57348
3,AL,Mobile County,Satsuma,36572,251,63919,52814,47707
4,AL,Mobile County,Dauphin Island,36528,251,77948,67225,54270
...,...,...,...,...,...,...,...,...
32459,PR,Adjuntas Municipio,Caguas,00726,787,69133,56122,57398
32471,PR,Adjuntas Municipio,Maricao,00606,787,19194,15233,15261
32481,PR,Adjuntas Municipio,Adjuntas,00601,787,24000,15004,29483
32482,PR,Adjuntas Municipio,Ponce,00733,787,28457,19292,26127
32483,PR,Adjuntas Municipio,Ponce,00715,787,26437,17574,30719

In [4]:
# Set index to Zip_Code

new_income_df = new_income_df.set_index("Zip_Code")
new_income_df

,State,County,City,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income
Zip_Code,,,,,,,
36611,AL,Mobile County,Chickasaw,251,38773,30506,33101
36048,AL,Barbour County,Louisville,334,37725,19528,43789
35051,AL,Shelby County,Columbiana,205,54606,31930,57348
36572,AL,Mobile County,Satsuma,251,63919,52814,47707
36528,AL,Mobile County,Dauphin Island,251,77948,67225,54270
...,...,...,...,...,...,...,...
00726,PR,Adjuntas Municipio,Caguas,787,69133,56122,57398
00606,PR,Adjuntas Municipio,Maricao,787,19194,15233,15261
00601,PR,Adjuntas Municipio,Adjuntas,787,24000,15004,29483
00733,PR,Adjuntas Municipio,Ponce,787,28457,19292,26127
00715,PR,Adjuntas Municipio,Ponce,787,26437,17574,30719

In [5]:
#Extract the housing tabel from the Zillow csv file, converted the zip code to a string to keep leading zeros

housing_file = (r"C:\Users\mseid\UCBWork\ETL-Project\Resources\Zip_Zhvi_AllHomes.csv")
housing_df = pd.read_csv(housing_file, converters={'RegionName': lambda x: str(x)})
housing_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,222928.0,...,1247957.0,1237765.0,1217910.0,1202019.0,1187806.0,1181753.0,1175189.0,1152836.0,1122702.0,1085142.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,210254.0,...,491901.0,492090.0,491467.0,490569.0,489634.0,488733.0,488090.0,488145.0,489488.0,491246.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,249810.0,...,1202909.0,1200070.0,1192096.0,1176335.0,1166441.0,1168883.0,1188089.0,1207863.0,1221435.0,1221711.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,200343.0,...,335353.0,335695.0,335756.0,335907.0,335933.0,335897.0,335966.0,335670.0,335844.0,336286.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,284417.0,...,643892.0,643827.0,643100.0,641800.0,640753.0,639321.0,637969.0,637587.0,637683.0,638027.0

In [6]:
#Transform the income table by dropping and renaming columns

new_housing_df = housing_df[["RegionName", "State", "City", "CountyName", "2020-03-31"]]
new_housing_df = new_housing_df.rename(columns={"RegionName": "Zip_Code", "CountyName": "County", "2020-03-31": "2020_average_house_price"})

new_housing_df

      Zip_Code State         City           County  2020_average_house_price
0        10025    NY     New York  New York County                 1085142.0
1        60657    IL      Chicago      Cook County                  491246.0
2        10023    NY     New York  New York County                 1221711.0
3        77494    TX         Katy    Harris County                  336286.0
4        60614    IL      Chicago      Cook County                  638027.0
...        ...   ...          ...              ...                       ...
30492    00851    CO       Granby     Grand County                  456250.0
30493    00803    TX  Brownsville   Cameron County                  121325.0
30494    00822    LA    Choudrant   Lincoln Parish                  181195.0
30495    00831    AL        Logan   Cullman County                   75464.0
30496    00820    LA    Choudrant   Lincoln Parish                  100708.0

[30497 rows x 5 columns]

In [7]:
#Set index to Zip_Code

new_housing_df = new_housing_df.set_index("Zip_Code")
new_housing_df

         State         City           County  2020_average_house_price
Zip_Code
10025       NY     New York  New York County                 1085142.0
60657       IL      Chicago      Cook County                  491246.0
10023       NY     New York  New York County                 1221711.0
77494       TX         Katy    Harris County                  336286.0
60614       IL      Chicago      Cook County                  638027.0
...        ...          ...              ...                       ...
00851       CO       Granby     Grand County                  456250.0
00803       TX  Brownsville   Cameron County                  121325.0
00822       LA    Choudrant   Lincoln Parish                  181195.0
00831       AL        Logan   Cullman County                   75464.0
00820       LA    Choudrant   Lincoln Parish                  100708.0

[30497 rows x 4 columns]

In [8]:
#Merge the income and housing tables together on Zip Code to create a new table that shows income and housing prices together
#where there is data that matches from both tables

income_housing_df = new_housing_df.merge(new_income_df, how = 'inner', left_index=True, right_index=True)

income_housing_df

,State_x,City_x,County_x,2020_average_house_price,State_y,County_y,City_y,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income
Zip_Code,,,,,,,,,,,
10025,NY,New York,New York County,1085142.0,NY,Albany County,New York,212,108996,300000,77505
60657,IL,Chicago,Cook County,491246.0,IL,Adams County,Chicago,773,82714,58437,69098
10023,NY,New York,New York County,1221711.0,NY,Albany County,New York,212,148419,160021,87904
77494,TX,Katy,Harris County,336286.0,TX,Anderson County,Katy,281,148987,141709,79025
60614,IL,Chicago,Cook County,638027.0,IL,Adams County,Chicago,773,62394,54244,53392
...,...,...,...,...,...,...,...,...,...,...,...
41101,KY,Ashland,Boyd County,73936.0,KY,Adair County,Ashland,606,64798,57614,54216
27710,NC,Durham,Durham County,217901.0,NC,Alamance County,Durham,919,16761,8349,25912
25305,WV,Charleston,Kanawha County,59849.0,WV,Kanawha County,Charleston Wv,304,35507,26770,36006
32511,MO,Macon,Macon County,188056.0,FL,Alachua County,Pensacola,850,48864,300000,20717
82938,WY,McKinnon,Sweetwater County,129473.0,WY,Sweetwater County,Mckinnon,307,0,0,0

In [9]:
#Transform the combined table by dropping and renaming columns

new_income_housing_df = income_housing_df[["State_x", "City_x", "County_x", "2020_average_house_price", "Area_Code", "Mean_Income", "Median_Income", "Standard_Deviation_Income" ]]
new_income_housing_df = new_income_housing_df.rename(columns={"State_x": "State", "City_x": "City", "County_x": "County"})
new_income_housing_df

,State,City,County,2020_average_house_price,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income
Zip_Code,,,,,,,,
10025,NY,New York,New York County,1085142.0,212,108996,300000,77505
60657,IL,Chicago,Cook County,491246.0,773,82714,58437,69098
10023,NY,New York,New York County,1221711.0,212,148419,160021,87904
77494,TX,Katy,Harris County,336286.0,281,148987,141709,79025
60614,IL,Chicago,Cook County,638027.0,773,62394,54244,53392
...,...,...,...,...,...,...,...,...
41101,KY,Ashland,Boyd County,73936.0,606,64798,57614,54216
27710,NC,Durham,Durham County,217901.0,919,16761,8349,25912
25305,WV,Charleston,Kanawha County,59849.0,304,35507,26770,36006
32511,MO,Macon,Macon County,188056.0,850,48864,300000,20717
82938,WY,McKinnon,Sweetwater County,129473.0,307,0,0,0

In [10]:
#Extract the restuarant data into a pandas data frame, converted the zip code to a string to keep leading zeros

eats_file = open(r"C:\Users\mseid\UCBWork\ETL-Project\Resources\yellowpages_com-restaurant_sample.csv")
eats_df = pd.read_csv(eats_file, converters={'Zip Code': lambda x: str(x)})
eats_df.head()

,Uniq Id,Url,Name,Street,Zip Code,City,State,Phone,Email,Website,Categories
0,8818b239af04554c3d78e50fde37b2be,http://www.yellowpages.com/revere-ma/mip/ital-...,Ital Uil Usa,199 Revere St,02151,Revere,MA,(781) 284-6425,NaN,NaN,"Italian Restaurants, Mediterranean Restaurants..."
1,24db17d57d8def6e0e9d8b4086a13457,http://www.yellowpages.com/watertown-ma/mip/sb...,Sbarro,455 Arsenal St,02472,Watertown,MA,(617) 926-9372,NaN,http://www.sbarro.com,"Pizza, Italian Restaurants, Family Style Resta..."
2,9285fda8cc37ecd02a9d85ca1f5d9631,http://www.yellowpages.com/medford-ma/mip/hele...,Helens Roastbeef Pizzeria,321A Boston Ave,02155,Medford,MA,(781) 395-9097,NaN,NaN,"Italian Restaurants, Pizza, American Restauran..."
3,b68ae4954fd6975b82f28fb1299d9e35,http://www.yellowpages.com/west-roxbury-ma/mip...,West Napoli Cafe,1946 Centre St,02132,West Roxbury,MA,(617) 325-7909,NaN,http://www.westnapolipizza.com,"Pizza, Italian Restaurants, Sandwich Shops, Re..."
4,a354f7f7a3907bc8b21bbd7ba9c632e8,http://www.yellowpages.com/newton-ma/mip/uno-c...,Uno Chicago Grill,287 Washington St,02458,Newton,MA,(617) 964-7663,mail@unos.com,http://www.unos.com,"Restaurants, Pizza, Bar & Grills, Take Out Res..."

In [11]:
#Transform the eats table by dropping and renaming columns, set index to Zip_Code

new_eats_df = eats_df[["Name", "Street", "Zip Code", "City", "State", "Phone", "Categories"]]
new_eats_df = new_eats_df.rename(columns={"Name": "Restaurant_Name", "Street": "Restaurant_Address", "Zip Code": "Zip_Code", "Categories": "Restaurant_Categories"})
new_eats_df = new_eats_df.set_index("Zip_Code")

new_eats_df

,Restaurant_Name,Restaurant_Address,City,State,Phone,Restaurant_Categories
Zip_Code,,,,,,
02151,Ital Uil Usa,199 Revere St,Revere,MA,(781) 284-6425,"Italian Restaurants, Mediterranean Restaurants..."
02472,Sbarro,455 Arsenal St,Watertown,MA,(617) 926-9372,"Pizza, Italian Restaurants, Family Style Resta..."
02155,Helens Roastbeef Pizzeria,321A Boston Ave,Medford,MA,(781) 395-9097,"Italian Restaurants, Pizza, American Restauran..."
02132,West Napoli Cafe,1946 Centre St,West Roxbury,MA,(617) 325-7909,"Pizza, Italian Restaurants, Sandwich Shops, Re..."
02458,Uno Chicago Grill,287 Washington St,Newton,MA,(617) 964-7663,"Restaurants, Pizza, Bar & Grills, Take Out Res..."
...,...,...,...,...,...,...
07302,Ox,176 Newark Ave,Jersey City,NJ,(201) 860-4000,Restaurants
14085,Fortunatos Deli,6472 Southwestern Blvd,Lake View,NY,(716) 627-5121,"Delicatessens, Restaurants"
14043,The Deli Shoppe,4730 Broadway,Depew,NY,(716) 706-1090,"Delicatessens, Restaurants"
07307,Isla Bonita,406 Central Ave,Jersey City,NJ,(201) 222-3310,Restaurants
07307,El Sabroso,414 Central Ave,Jersey City,NJ,(201) 216-1497,"Mexican Restaurants, Latin American Restaurant..."

In [12]:
#Join the income_housing_df with the eats_df to create a new table with income, housing, and retaurant data

income_housing_eats_df = new_income_housing_df.merge(new_eats_df, how = 'inner', left_index=True, right_index=True)

income_housing_eats_df

,State_x,City_x,County,2020_average_house_price,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income,Restaurant_Name,Restaurant_Address,City_y,State_y,Phone,Restaurant_Categories
Zip_Code,,,,,,,,,,,,,,
01880,MA,Wakefield,Middlesex County,569944.0,781,93479,85018,64752,Porto-Bello Restaurant,979 Main St,Wakefield,MA,(781) 224-9757,"Mediterranean Restaurants, Italian Restaurants..."
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Victor's Italian Restaurant,560 Lincoln Ave,Saugus,MA,(781) 231-0532,"Italian Restaurants, Mediterranean Restaurants..."
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Carmalenos Pushcart Rest,331 Main St,Saugus,MA,(781) 233-7200,"Family Style Restaurants, Italian Restaurants,..."
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Prince Pizzeria & Bar,517 Broadway,Saugus,MA,(781) 233-9950,"Pizza, Italian Restaurants, Restaurants"
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Hometown Pizza,23 Essex St,Saugus,MA,(781) 233-4600,"Pizza, Italian Restaurants, Sandwich Shops, Fa..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Hardee's,7217 Woodland Dr,Indianapolis,IN,(317) 297-4868,"Restaurants, Fast Food Restaurants, Hamburgers..."
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Taco Bell,5721 W 86th St,Indianapolis,IN,(317) 872-1534,"Fast Food Restaurants, Mexican Restaurants, Re..."
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Monical's Pizza,6010 W 86th St Ste 124,Indianapolis,IN,(317) 870-7722,"Pizza, Restaurants"
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Abuelo's,5910 W 86th St,Indianapolis,IN,(317) 876-0250,"Restaurants, Mexican Restaurants, Caterers"
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Trident Foods #21,5620 W 86th St,Indianapolis,IN,(317) 824-0236,"Take Out Restaurants, Mexican Restaurants, Res..."

In [13]:
#Transform the joined table by dropping and renaming columns

new_income_housing_eats_df = income_housing_eats_df[["State_x", "City_x", "County", "2020_average_house_price", "Area_Code", "Mean_Income", "Median_Income", "Standard_Deviation_Income", "Restaurant_Name", "Restaurant_Address", "Phone", "Restaurant_Categories"]]
new_income_housing_eats_df = new_income_housing_eats_df.rename(columns={"State_x": "State", "City_x": "City"})

new_income_housing_eats_df.head()

,State,City,County,2020_average_house_price,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income,Restaurant_Name,Restaurant_Address,Phone,Restaurant_Categories
Zip_Code,,,,,,,,,,,,
01880,MA,Wakefield,Middlesex County,569944.0,781,93479,85018,64752,Porto-Bello Restaurant,979 Main St,(781) 224-9757,"Mediterranean Restaurants, Italian Restaurants..."
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Victor's Italian Restaurant,560 Lincoln Ave,(781) 231-0532,"Italian Restaurants, Mediterranean Restaurants..."
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Carmalenos Pushcart Rest,331 Main St,(781) 233-7200,"Family Style Restaurants, Italian Restaurants,..."
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Prince Pizzeria & Bar,517 Broadway,(781) 233-9950,"Pizza, Italian Restaurants, Restaurants"
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Hometown Pizza,23 Essex St,(781) 233-4600,"Pizza, Italian Restaurants, Sandwich Shops, Fa..."

In [14]:
#Open population file and convert zip code to string to keep the 0's

pop_file = open(r"C:\Users\mseid\UCBWork\ETL-Project\Resources\population_by_zip_2010.csv")
pop_df = pd.read_csv(pop_file, converters={'zipcode': lambda x: str(x)})
pop_df.head()

   Ã¯Â»Â¿population  minimum_age  maximum_age  gender zipcode          geo_id
0             50         30.0         34.0  female   61747  8600000US61747
1              5         85.0          NaN    male   64120  8600000US64120
2           1389         30.0         34.0    male   95117  8600000US95117
3            231         60.0         61.0  female   74074  8600000US74074
4             56          0.0          4.0  female   58042  8600000US58042

In [15]:
#Clean population by extracting certail columns, renaming columns, dropping duplicate zip codes, and setting index to zip code

new_pop_df = pop_df[["Ã¯Â»Â¿population", "zipcode"]]
new_pop_df = new_pop_df.rename(columns={"Ã¯Â»Â¿population": "Population", "zipcode": "Zip_Code"})
new_pop_df.drop_duplicates("Zip_Code", inplace=True)
new_pop_df = new_pop_df.set_index("Zip_Code")

new_pop_df

          Population
Zip_Code
61747             50
64120              5
95117           1389
74074            231
58042             56
...              ...
04418             60
66086            100
74747              0
53091             86
99223            332

[33119 rows x 1 columns]

In [16]:
#Join the income_housing_eats_df with population to create a joined table

income_housing_eats_pop_df = new_income_housing_eats_df.merge(new_pop_df, how = 'inner', left_index=True, right_index=True)

income_housing_eats_pop_df

,State,City,County,2020_average_house_price,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income,Restaurant_Name,Restaurant_Address,Phone,Restaurant_Categories,Population
Zip_Code,,,,,,,,,,,,,
01880,MA,Wakefield,Middlesex County,569944.0,781,93479,85018,64752,Porto-Bello Restaurant,979 Main St,(781) 224-9757,"Mediterranean Restaurants, Italian Restaurants...",954
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Victor's Italian Restaurant,560 Lincoln Ave,(781) 231-0532,"Italian Restaurants, Mediterranean Restaurants...",401
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Carmalenos Pushcart Rest,331 Main St,(781) 233-7200,"Family Style Restaurants, Italian Restaurants,...",401
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Prince Pizzeria & Bar,517 Broadway,(781) 233-9950,"Pizza, Italian Restaurants, Restaurants",401
01906,MA,Saugus,Essex County,474805.0,781,75586,300000,60691,Hometown Pizza,23 Essex St,(781) 233-4600,"Pizza, Italian Restaurants, Sandwich Shops, Fa...",401
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Hardee's,7217 Woodland Dr,(317) 297-4868,"Restaurants, Fast Food Restaurants, Hamburgers...",405
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Taco Bell,5721 W 86th St,(317) 872-1534,"Fast Food Restaurants, Mexican Restaurants, Re...",405
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Monical's Pizza,6010 W 86th St Ste 124,(317) 870-7722,"Pizza, Restaurants",405
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Abuelo's,5910 W 86th St,(317) 876-0250,"Restaurants, Mexican Restaurants, Caterers",405
46278,IN,Indianapolis,Marion County,305809.0,317,103936,300000,56509,Trident Foods #21,5620 W 86th St,(317) 824-0236,"Take Out Restaurants, Mexican Restaurants, Res...",405

In [17]:
#Join the income_housing_df with population to create a joined table without restaurants

income_housing_pop_df = new_income_housing_df.merge(new_pop_df, how = 'inner', left_index=True, right_index=True)

income_housing_pop_df

,State,City,County,2020_average_house_price,Area_Code,Mean_Income,Median_Income,Standard_Deviation_Income,Population
Zip_Code,,,,,,,,,
10025,NY,New York,New York County,1085142.0,212,108996,300000,77505,1000
60657,IL,Chicago,Cook County,491246.0,773,82714,58437,69098,294
10023,NY,New York,New York County,1221711.0,212,148419,160021,87904,911
77494,TX,Katy,Harris County,336286.0,281,148987,141709,79025,1927
60614,IL,Chicago,Cook County,638027.0,773,62394,54244,53392,535
...,...,...,...,...,...,...,...,...,...
61057,IL,Nachusa,Lee County,66983.0,815,60384,53831,41045,2
41101,KY,Ashland,Boyd County,73936.0,606,64798,57614,54216,572
25305,WV,Charleston,Kanawha County,59849.0,304,35507,26770,36006,0
32511,MO,Macon,Macon County,188056.0,850,48864,300000,20717,0
82938,WY,McKinnon,Sweetwater County,129473.0,307,0,0,0,8

In [18]:
#Create a connection to postgres

rds_connection_string = "postgres:postgres@localhost:5432/income_housing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [19]:
#Load the transformed housing table

new_housing_df.to_sql(name='housing', con=engine, if_exists='append', index=True)

In [20]:
#Load the transformed income table

new_income_df.to_sql(name='income', con=engine, if_exists='append', index=True)

In [21]:
#Load the transformed restaurant table

new_eats_df.to_sql(name='restaurants', con=engine, if_exists='append', index=True)

In [22]:
#Load the transformed population table

new_pop_df.to_sql(name='population', con=engine, if_exists='append', index=True)

In [23]:
#Load the transformed combined table of income and housing

new_income_housing_df.to_sql(name='income_housing', con=engine, if_exists='append', index=True)

In [24]:
#Load the transformed combined table of income, housing, and restaurants

new_income_housing_eats_df.to_sql(name='income_housing_eats', con=engine, if_exists='append', index=True)

In [25]:
#Load the transformed combined table of everything: income, housing, restaurants, and population

income_housing_eats_pop_df.to_sql(name='all_income_housing_eats_pop', con=engine, if_exists='append', index=True)

In [26]:
#Load the transformed combined table of income, housing, and population without restaurants (more results)

income_housing_pop_df.to_sql(name='income_housing_pop', con=engine, if_exists='append', index=True)

In [27]:
#Get table names

engine.table_names()

['housing',
 'income',
 'income_housing',
 'income_housing_eats',
 'restaurants',
 'population',
 'all_income_housing_eats_pop',
 'income_housing_pop']